.transition-root {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.blocks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  z-index: 10000000;
}

.row {
  flex: 1;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0rem;
}

.block {
  position: relative;
  flex: 1;
  background: rgba(255, 68, 0, 1);
  margin: 0;
  min-width: calc(100% / 13);
  transform-origin: top;
}

.transition-in .block {
  transform-origin: top;
}

.transition-out .block {
  transform-origin: bottom;
}
