.root {
  background-color: black;
  overflow-x: hidden;
}

.archive-page {
  --color-bg: #000;
  --color-text: #fff;
  background-color: #000;
  min-height: 100vh;
  color: var(--color-text);
  overflow-x: hidden;
  width: 100vw;
}

.archive-page * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Notch Grotesk";
  overflow-x: hidden;
}

.archive-page ::-webkit-scrollbar {
  display: none;
}

.row{
  width: 100vw;
}

.archive-page html,
.archive-page body {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
}

.archive-page h1 {
  font-size: 3.75em;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.archive-page p,
.archive-page a,
.archive-page li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--color-text);
  font-size: 12px;
  font-weight: lighter;
  line-height: 125%;
}

.archive-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.archive-page button {
  border: none;
  outline: none;
  padding: 0.75em 1.25em;
  font-size: 12px;
  color: var(--color-text);
  background-color: rgba(255, 255, 255, 0.125);
  border-radius: 2em;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: 0.3s;
}

.archive-page button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.archive-page ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.archive-page li {
  font-size: 22px;
}

.archive-page .container {
  width: 100%;
  height: 100%;
}

.archive-page .divider {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 0.5em 0;
}

.body.bg-black {
  background-color: #000;
  min-height: 100vh;
  width: 100%;
}

/* Archive specific styles */

.archive {
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

.archive .container {
  background-color: #000;
  width: 100vw;
  height: 100%;
  position: relative;
}

.archive .row {
  width: 100vw;
  height: 100px;
  display: flex;
  background-color: #000;
  padding: 0 2rem;
  position: relative;
}

.archive-item {
  width: 100vw;
  height: 100%;
  background-color: #000;
  position: relative;
}

.archive-img {
  width: 100%;
  height: 100%;
}

.archive-details {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #000;
  position: relative;
}

#archive-name {
  color: #fff;
  font-size: 3.75em;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

#archive-category {
  color: #fff;
  text-align: right;
}

@media (max-width: 900px) {
  .archive-item {
    width: 100%;
  }
}

.archive-page #archive-name {
  color: white;
  font-size: 3.75em;
  margin: 0;
  padding: 0;
  line-height: 100%;
}

.archive-page #archive-category {
  color: var(--color-text) !important;
  text-align: right;
}

@media (max-width: 900px) {
  .archive-page h1 {
    font-size: 2em;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
}

@font-face {
  font-family: "Notch Grotesk";
  font-weight: 300;
  src: url("./assets/fonts/NotchGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Notch Grotesk";
  font-weight: 500;
  src: url("./assets/fonts/NotchGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Notch Grotesk";
  font-weight: 700;
  src: url("./assets/fonts/NotchGrotesk-Bold.ttf") format("truetype");
}